*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: "Violet Sans";
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.section__heading {
  display: none;
  flex-direction: column;
  text-align: center;
  isolation: isolate;
}
.section__heading h2 {
  display: flex;
  flex-direction: column;
}
.section__heading .section__text {
  margin: 0 auto;
  position: relative;
  font-size: 1.3rem;
  color: #ababab;
  padding: 0 1rem;
  width: -moz-max-content;
  width: max-content;
  z-index: 1000;
}
.section__heading .section__text::before,
.section__heading .section__text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2px;
  background-color: #ababab;
  z-index: 100;
}
.section__heading .section__text::after {
  left: -2.5rem;
}
.section__heading .section__text::before {
  right: -2.5rem;
}
.section__heading .section__title {
  color: white;
  font-size: 3.3rem;
}

.dummy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c7c7c;
  height: 100vh;
  font-size: 100px;
  text-align: center;
}

/* START */
.projects {
  overflow: hidden;
  background: #333;
  color: white;
}
.projects .section__heading {
  padding: 2.5rem 0 1rem;
}
.projects .projects-mobile-cnt {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.projects .projects-mobile-cnt .project {
  height: 100vh;
}
.projects .projects-mobile-cnt .project .project-desc {
  height: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-heading .heading-tag {
  font-size: 1.3rem;
  font-weight: 600;
}
.projects .projects-mobile-cnt .project .project-desc .desc-heading .heading-title {
  font-size: 2.5rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-content .content-main {
  font-size: 1.7rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-content .content-date {
  font-size: 1.4rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-btns {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-btns .desc-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem 1rem 0.8rem 2rem;
  font-size: 1.3rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-btns .desc-btn i {
  font-size: 1.6rem;
}
.projects .projects-mobile-cnt .project .project-desc .desc-btns .primary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.projects .projects-mobile-cnt .project .project-desc .desc-btns .secondary {
  background-color: rgb(255, 255, 255);
  color: black;
}
.projects .projects-mobile-cnt .project .project-showcase {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .projects-mobile-cnt .project .project-showcase .showcase-img {
  width: 80%;
  aspect-ratio: 16/9;
}
.projects .projects-desktop-cnt {
  display: none;
  height: 100%;
}
.projects .projects-desktop-cnt .projects-desc {
  width: 50%;
  height: 500vh;
}
.projects .projects-desktop-cnt .projects-desc .project {
  transform: translateY(0);
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-heading .heading-tag {
  font-size: 1.3rem;
  font-weight: 600;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-heading .heading-title {
  font-size: 2.5rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-content .content-main {
  font-size: 1.7rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-content .content-date {
  font-size: 1.4rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-btns {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-btns .desc-btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem 1rem 0.8rem 2rem;
  font-size: 1.3rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-btns .desc-btn i {
  font-size: 1.6rem;
}
.projects .projects-desktop-cnt .projects-desc .project .desc-btns .primary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.projects .projects-desktop-cnt .projects-desc .project .desc-btns .secondary {
  background-color: rgb(255, 255, 255);
  color: black;
}
.projects .projects-desktop-cnt .projects-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500vh;
}
.projects .projects-desktop-cnt .projects-showcase .desktop-showcase {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.projects .projects-desktop-cnt .projects-showcase .desktop-showcase .desktop-showcase-img {
  width: 90%;
  aspect-ratio: 16/9;
}
.projects .projects-desktop-cnt .projects-showcase .desktop-showcase::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
}

.projects .projects-desktop-cnt.fixed-pr .projects-showcase .desktop-showcase {
  transform: translateY(-400%);
}

.projects .projects-desktop-cnt .projects-desc.bottom .project {
  transform: translateY(400%);
}

.fixed-pr {
  position: fixed;
  top: 0;
}

@media (min-width: 576px) {
  .projects .projects-mobile-cnt .project .project-showcase .showcase-img {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .projects .projects-mobile-cnt .project .project-showcase .showcase-img {
    width: 65%;
  }
}
@media (min-width: 992px) {
  .projects {
    height: 500vh;
  }
  .projects .projects-mobile-cnt {
    display: none;
  }
  .projects .projects-desktop-cnt {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */